//META{"name":"SantaBois","description":"Cool Santa Theme","author":"Soriental","version":"1.0"}*//{}

@import url(https://cdn.rawgit.com/Soriental/Soriental_Santa/f878110a/Soriental_Winter.css);
@IMPORT URL("https://rawgit.com/Soriental/Soriental_Santa/master/Soriental_Winter.css");

/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #27bce6;
	--hover-color: #1e81b2;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://i.imgur.com/chVdSTQ.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
